@import "tailwindcss";

:root {
  background-color: #f8fafc;
}

/* Minimalist Scrollbar Utility */
.minimal-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.minimal-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  transition: all 0.3s;
}

.minimal-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25) !important;
}